<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Mock CSP</h1>
    <div>
      <form action="/login-form" method="post">
        <div>
          <input type="submit" value="Login JS Form Submit"/>
        </div>
      </form>
    </div>
    </br>
    </br>
    <div>
      <form action="/login-redirect" method="post">
        <div>
          <input type="submit" value="Login JS Window Replace"/>
        </div>
      </form>
    </div>
    </br>
    </br>
    <div>
      <form action="/login-meta" method="post">
        <div>
          <input type="submit" value="Login Meta Refresh"/>
        </div>
      </form>
    </div>
  </body>
</html>
